.yui3-skin-sam .yui3-scrollview {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.yui3-skin-sam .yui3-scrollview{
	background-color: white;
}

.yui3-skin-sam .yui3-scrollview-vert .yui3-scrollview-content .yui3-scrollview-list {
	list-style:none; /*need these since reset is not required*/
	padding:0; /*need these since reset is not required*/
	margin:0; /*need these since reset is not required*/
}

.yui3-skin-sam .yui3-scrollview-vert .yui3-scrollview-content {
    /*border:1px solid #303030; If the ScrollView needs a border add it here */
    border-top:0;
	background-color:white;
	font-family: HelveticaNeue,arial,helvetica,clean,sans-serif;
	color:black;
}

.yui3-skin-sam .yui3-scrollview-vert .yui3-scrollview-content .yui3-scrollview-item {
    border-bottom: 1px solid #303030;
    padding: 15px 20px 16px;
    font-size: 100%;
    font-weight: bold;
    background-color:white;
	cursor:pointer;
}

